%div.page_content
  - @projects.each do |project|
    %ul.project_ul
      %span.project_title
        = project.project_title
      %span.project_description
        = project.description
      %li.url
        = link_to project.github_url, project.github_url, class: 'url_link'
      %li.url
        = link_to project.project_url, project.project_url, class: 'url_link'
      - if current_user.present?
        %li= link_to 'Delete Project?', project_path(project), method: :delete, class: 'delete'
- if current_user.present?
  = link_to 'New Project', new_project_path, class: 'project_link'
= will_paginate @projects
