<!DOCTYPE html>
<html>
<head>
  <title>LukeRansom</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div class= main>
    <% if signed_in? %>
      <span class= 'username'> <%= current_user.username %> </span>
    <% else %>
      <%= link_to 'Sign In*', sign_in_path, class: 'sign_in' %>
    <% end %>
  <h1> Luke Pfeiffer </h1>
   <%= link_to 'Home', root_path %>
   <%= link_to 'About Me', about_me_path %>
   <%= link_to 'Projects', projects_path %>
  </div>
</head>
<body>
<%= yield %>

</body>
</html>
<foot> *'Signing in is for me' -Luke </foot>
