<!DOCTYPE html>
<html>
<head>
  <title>LukeRansom</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <div class= 'main'>
    <% if signed_in? %>
      <div class= 'username_div'>
        <span class= 'username'> 
          <%= link_to 'Sign Out', sign_out_path, method: :delete, class: 'sign_out' %>
        </span>
      </div>
    <% else %>
      <%= link_to 'Sign In*', sign_in_path, class: 'sign_in' %>
    <% end %>
  <h1> Luke Pfeiffer </h1>
  <%= link_to 'About Me', root_path, class: 'layout_link'
%>
   <%= link_to 'Projects', projects_path, class: 'layout_link' %>
  </div>
</head>
<body>
<%= yield %>

</body>
</html>
<foot> *'Signing in is for me' -Luke </foot>
